.ui.container.left.aligned
  %h1
    Signup

  .user-form
    = form_for @user, { html: { class: 'ui form' } } do |f|
      .field
        .two.fields
          .field
            = f.label :first_name
            = f.text_field :first_name, placeholder: 'First Name', autofocus: true
          .field
            = f.label :last_name
            = f.text_field :last_name, placeholder: 'Last Name', autofocus: true

      .field
        = f.label :email
        = f.text_field :email, placeholder: 'Email'

      .field
        = f.label :password
        = f.password_field :password, placeholder: 'Password'

      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation'

      = f.submit 'Signup', { class: 'ui button green huge'}
