.ui.container.left.aligned
  %h1
    Signup

  .user-form
    = form_for @user, { html: { class: 'ui form' } } do |f|
      .field
        .two.fields
          .field
            = f.label :first_name
            = f.text_field :first_name, autofocus: true
          .field
            = f.label :last_name
            = f.text_field :last_name, autofocus: true

      .field
        = f.label :email
        = f.text_field :email

      .field
        = f.label :password
        = f.password_field :password

      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation

      = f.submit 'Signup', { class: 'ui button green huge'}
